body{
	font-family: arial, helvetica;
}
img{
    width: 180px; height: 100px;
}
.menu{
	list-style: none;
	padding-right: 30%;
	padding: 0;
	width: 100%;
	max-width: 10000px;
	margin: auto;
	text-align: right;	
}
.grid{
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.menu li a{
	text-decoration: none;
	color: white;
	padding:20px ;
	display: block;
}
.menu li{
	display: inline-block;
}
.menu li a:hover{
	background: #3106BB;
	border-radius: 15px;
}
.modulo{
	list-style: none;
	padding: 0;
	background: #3106BB;
	width: 100%;
	max-width: 10000px;
  height:80% ;
  max-height: 80000px
}

.modulo{
  background-image: linear-gradient(to right,#572364,#924ED7);
  text-align: center
  
} 
.modulo{
  border-radius: 15px
  
}
p{
  color: #3106BB;
  background : linear-gradient(to left,#EA2EFF,#3106BB);
}
.logo{
	margin-left: 10%;
	font-size: 20px;
}
head{
	font-family: 'fuente';
}
.lista{
	font-size: 20px;
	margin-right: 3%;
}
menuPrincipal{
	width: 100%;
	background: black;
}
